    .Navbarimage
 {
    vertical-align: middle;
    border-style: none;
    width: 150px;
    height: 120px;
    object-fit: contain;
}
.navbar {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    height: 150px;
}
.firetext {
    margin-top: -15px;
    margin-bottom: 1rem;
    color: yellowgreen
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-family: cursive;
}
.Navbar{
    position: sticky;
}